@inherits LearnBlazorBase
@page "/learnblazor"


<Document Title="@WelcomeText" />
<h3 class="text-info pb-3">@WelcomeText</h3>

<p>On Change <input @bind="name"/></p>
<p>On Spontaneously <input @bind="name" @bind:event="oninput"/></p>
<p>I am @(name!=null?name:"___________")</p>

<p><button @onclick="getName">Surprise me!</button></p>