@page "/"
<Document Title="Home" />

@using BlazingShop.Services;
@using BlazingShop.Data;
@inherits OwningComponentBase<ProductServices>

<div class="row">
    @foreach(var product in ListProduct)
    {
        <BlazingShop.Pages.Components.IndividualProduct product="product"></BlazingShop.Pages.Components.IndividualProduct>
    }
</div>


@code {
    List<Product> ListProduct = new List<Product>();
    protected override void OnInitialized()
    {
        ListProduct = Service.GetProducts();
    }
}