@page "/productsize"
@using BlazingShop.Data
@using BlazingShop.Services

@inherits OwningComponentBase<ProductSizeService>

<AuthorizeView>
    <Authorized Context="Auth">

        @if (productsizes == null)
        {
            <p><em>Loading or No size available.</em></p>
        }
        else
        {
            <div class="container border p-3">
                <div class="row">
                    <div class="col-5">
                        <h1 class="text-info">Product Sizes List</h1>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-info form-control" @onclick="AddNewProductSize">Add New Product Size</button>
                    </div>
                </div>

                <div class="row pt-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Product Size</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in productsizes)
                            {
                                <tr>
                                    <td>@obj.Size</td>
                                    <td>
                                        <button class="btn btn-primary" style="width:150px" @onclick="(()=>EditProductSize(obj))">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (ShowPopup)
        {
            <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <EditForm Model="@objProductSize" OnValidSubmit="@ValidSubmit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-info">@(objProductSize.Id != 0 ? "Update" : "Create" ) Product Size</h3>
                                <button type="button" class="close" @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row py-2">
                                            <div class="col-4">
                                                Product Size
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objProductSize.Size" />
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="offset-4 col">
                                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                                            </div>
                                            @if (objProductSize.Id > 0)
                                            {
                                                <div class="col">
                                                    <button class="btn btn-outline-danger" type="submit" @onclick="DeleteProductSize">Delete</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    List<ProductSize> productsizes;
    ProductSize objProductSize = new ProductSize();

    bool ShowPopup = false;

    protected override void OnInitialized()
    {
        //var user = (await authenticationState).User;
        //var emailOdUser = user.Identity.Name;
        productsizes = Service.GetProductsSizes();
    }

    void AddNewProductSize()
    {
        objProductSize = new ProductSize();
        objProductSize.Id = 0;
        ShowPopup = true;
    }

    void EditProductSize(ProductSize productSize)
    {
        objProductSize = productSize;
        ShowPopup = true;
    }

    void DeleteProductSize()
    {
        ShowPopup = false;
        var result = Service.DeleteProductSize(objProductSize);
        productsizes.Clear();
        productsizes = Service.GetProductsSizes();
    }

    void ClosePopup()
    {
        ShowPopup = false;
    }

    void ValidSubmit()
    {
        var result = false;
        ShowPopup = false;

        if(objProductSize.Id > 0)
        {
            result = Service.UpdateProductSize(objProductSize);
        }
        else
        {
            result = Service.CreateProductSize(objProductSize);
        }

        productsizes = Service.GetProductsSizes();
    }
}
